<h1>Student Details</h1>

<p>Name: <%= @students.full_name %></p>
<p>House: <%= @students.house %></p>
<p>Age: <%= @students.age %></p>

<form action="/hogwarts_students/<%= @students.id %>/delete" method="post">
  <input type="submit" value="Delete Student">
</form>

<p><a href="/hogwarts_students/<%= @students.id %>/edit">Edit Student</a></p>
